a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.blue-design {
  color:#009be7;
  font-size: 30px;
  font-weight:750;
  text-align: left;
}

.gray-design {
  text-align: left;
  margin-top: -15px;
  padding-left: 28px;
  color:gray;
  font-size: 20px;
  font-weight: 600;
}
