<form [formGroup]="newEmloyeeForm">
    <div class="row">
        <div class="col-md-5">
            <label for="firstName">First Name</label>
            <input type="text"
            maxlength="255"
            class="form-control"
            [(ngModel)]="newEmloyee.FirstName"
            name="firstName"
            required />
        </div>
        <div class="col-md-5">
            <label for="lastName">Last Name</label>
            <input type="text"
            maxlength="255"
            class="form-control"
            [(ngModel)]="newEmloyee.lastName"
            name="lastName"
            required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="email">Email</label>
            <input type="text"
            maxlength="255"
            class="form-control"
            [(ngModel)]="newEmloyee.email"
            name="email"
            required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-9">
            <button
            type="submit"
            [disabled]="!addEmployeeForm.valid"
            (click)="save()"
            class="btn btn-primary">Save</button>
        </div>
    </div>
</form>