<div class="test">

  <div [ngBusy]="[getSubscription]"></div>
  <div [ngBusy]="busyConfig"></div>
  <div class="row">
      <div class="col-md-3 offset-md-9">
          <button
          (click)="onClick()"
          class="btn btn-primary">Add New Employee</button>
      </div>
  </div>
  <div *ngIf="employees.length === 0">
    There are no employees
  </div>
  <div *ngIf="employees.length > 0">
    <h2>Employees: </h2>
    <div *ngFor="let employee of employees">
      <app-employee
      (editEmployeeClickEvent)="openEditEmployeeModal($event)"
      [employee]="employee"></app-employee>
    </div>
  </div>
</div>



